
{% block content %}

  <section class="py-5 text-center container bg-dark mt-2 rounded">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">StuidoHub</h1>
        <h1 class="lead text-muted">Welcome to StudioHub! Hope you have a good time with us. Thank You</h1>
        <p>
          <a href="{% url 'list_photo' %}" class="btn my-2" style='background-color:#257ded; color:white'>Images</a>
          <a href="{% url 'profile_list' %}" class="btn btn-secondary my-2" style='background-color:#01172f'>Artists Profile's</a>
        </p>
      </div>
    </div>
  </section>

{% endblock content %}