  {% extends 'photos/base.html' %}
  {% load static %}

<div class='d-flex justify-content-center'> 

  {% block content %}

  {% include 'photos/jumbotron.html' %}

<div>


 <h1 style='text-align:center'>Total Images {{ page_obj.paginator.count }}</h1>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
{% for photo in photos %}

        <div class="col">
<a href="{% url 'detail_photo' photo.slug photo.photo_id %}" style='text-decoration:none; color:black'>
          <div class="card shadow-sm">
            <img  src="{{photo.image.url}}" alt="{{photo.name}}" class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" />
            
           

            <div class="card-body">
              <p class="card-text d-flex">
               <small style='text-align:left; margin-right:auto'>@{{photo.user.username}}</small>  <small class='ml-auto' style='text-align:right'>{{photo.name}}</small></p>
               
              <div class=" justify-content-between align-items-center">
                <small class="text-muted">{{ photo.uploaded|date:"F d, Y" }}</small>

                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{photo.likes.count}}likes</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{photo.dislikes.count}}dislikes</button>
                </div>

              </div>

            </div>
          </div>
          </a>
        </div>
{% endfor %}

      </div>
    </div>
  </div>


<div style='text-align:center'>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-success mb-4" style='color:white; background-color:#262730' href="?page=1">First</a>
        <a class="btn btn-outline-success mb-4" style='color:white; background-color:#262730' href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-success mb-4" style='color:white; background-color:#262730' href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-success mb-4" style='color:white; background-color:#262730' href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-success mb-4" style='color:white; background-color:#262730' href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-success mb-4" style='color:white; background-color:#262730' href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}




</div>
{% endblock %}
</div>