 {% extends "photos/base.html" %}  {% block content %}


<div >
   <div class="col" >

    <div class="content-section">


    
    <!-- Custom styles for this template -->
    <div class="row" >
        <div class="col-md-8 m-auto mt-4">
        <div class="card card-cover  overflow-hidden text-white bg-dark rounded-5 shadow-lg" style='padding:2em'>

  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form  method='post'> 
     {% csrf_token %}
    <h1 class='mb-4'>Change Password</h1>

    <div class="form-floating mb-6" style='margin-bottom:24px'>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
      <label for="floatingPassword"  style='color:#000'>Password</label>
    </div>

    <div class="form-floating mb-6" style='margin-bottom:24px'>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='new_password'>
      <label for="floatingPassword"  style='color:#000'>New Password</label>
    </div>

    <div class="form-floating mb-6" style='margin-bottom:24px'>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='confirm_password'>
      <label for="floatingPassword"  style='color:#000'>Confirm New Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-3" style='margin-top:2em' type="submit">Change Password</button>
  </form>
  <small>Already have an account ? <a href="{% url 'login' %}">Login</a></small>
</div>

        </div>
      </div>
</main>

    </div>

</div>
</div>

{% endblock content %} 



